// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.message {
  padding: 10px;
  border-radius: 15px;
  // border: 1px solid ;
  &.mine {
    color: #ffffff;
    background-color: #007bff;
  }
  &.theirs {
    color: #000000;
    background-color: #eeeeee;
  }
}

.message-information {
  font-size: 0.8rem;
  color: #777777;
  margin-left: 10px;
}
